
@import url(./styles/rainbow-colors.css);

body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;

    animation: gradient 64s ease-in-out infinite;
}

#orin-dialog {
    display: grid;
    justify-items: center;
    gap: 24px;
}

#azka-message {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

#orin-dance {
    width: 200px;
}