body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    gap: 24px;
    margin: 0;
    padding: 0;
}

#orin-dance {
    width: 200px;
}